/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
.menubar li ul 
{ 
	background: rgb(200, 200, 200); 
	display:none; /* 평상시에는 서브메뉴가 안보이게 하기 */ 
	height:auto; 
	padding:0px; 
	margin:0px; 
	border:0px; 
	position:absolute; 
	width:50px; 
	z-index:200; 
}

.menubar li:hover ul 
{ 
	display:block; /* 마우스 커서 올리면 서브메뉴 보이게 하기 */ 
}